trigger:
  - none

parameters:
  - name: targetEnv
    displayName: Target Environment
    type: string
    default: dev1
    values:
      - dev1

variables:
  - template: azdo-templates/variables-nonprod.yaml
    parameters:
      targetEnv: ${{ parameters.targetEnv }}

stages:
  - template: azdo-templates/tf-plan.yaml
    parameters:
      targetEnv: ${{ parameters.targetEnv }}

  - template: azdo-templates/tf-apply.yaml
    parameters:
      targetEnv: ${{ parameters.targetEnv }}
